.field-label {
  font-size: 12px;
  font-family: $font-main;
  color: $text-secondary;
  margin-top: 1rem;
  display: block;
}

.field-input {
  width: 100%;
  background: inherit;
  color: white;
  border: none;
  font-family: $font-main;
  border-bottom: 1px solid $border;
  margin: 0.5rem 0;
  font-size: 17px;
  padding-bottom: 0.5rem;

  &:focus-visible {
    outline: none;
  }

  &-error {
    border-bottom: 1px solid red;
  }
}

.tooltip {
  color: red;
  font-size: 12px;
  padding-bottom: 0.3rem;

  &-hidden {
    display: none;
  }
}

.field-wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.4px solid $border;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;

  .field {
    &-input {
      width: 200px;
      border: none;
      margin: 0;
      padding: 0;
      font-size: 16px;
      text-align: right;

      &-error {
        color: red !important;
        font-weight: 700;
      }
    }

    &-label {
      color: white;
      font-size: 16px;
    }
  }
}
