.profile-wrapper {
  margin: 1.5rem auto;
  width: 885px;

  .container {
    width: 750px;
    margin-top: 0;
  }

  .profile-form .btn {
    margin: 3rem auto 0;
  }

  .avatar-wrapper {
    margin: 1rem auto;
    width: 150px;
    text-align: center;

    &-img {
      &:hover {
        box-shadow: inset 125px 125px rgba($color: #000, $alpha: 70%);
      }

      background-color: $text-secondary;
      width: 125px;
      height: 125px;
      border-radius: 50%;
      cursor: pointer;
    }

    &-text {
      font-size: 21px;
      color: white;
      font-weight: 600;
    }

    .avatar-input {
      visibility: hidden;
      opacity: 0;
      position: absolute;
    }
  }

  .field-input-error {
    border-right: 5px solid red;
    padding-right: 5px;
    margin-right: -5px;
  }

  .profile-form {
    width: 750px;
    margin-bottom: 4rem;
  }

  .link-red {
    color: red;
  }

  .link-auth {
    display: block;
    font-size: 16px;
    text-align: left;
    margin: 1rem 0;
  }
}

.profile-pass-wrapper {
  margin-top: 7rem;

  .btn-circle-profile {
    top: 23rem;
  }

  .profile-form .btn {
    margin: 3rem auto 0;
  }
}
